.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
}

.field {
  margin-bottom: 1em;
}

.field label {
  display: block;
  margin-bottom: .5em;
}

.field input, .field p-checkbox, .field p-calendar {
  width: 100%;
}

.actions {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

.turma-list {
  list-style-type: none;
  padding: 0;
}

.turma-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

.turma-item > div:first-child {
  flex: 1;
}

.turma-item > div:last-child {
  margin-left: 10px;
}

