<div class="container">
  <form [formGroup]="turmaForm" (ngSubmit)="onSubmit()">
    <div class="field" *ngIf="isEdit">
      <label for="ativo">Ativo</label>
      <p-checkbox formControlName="ativo" binary="true" ></p-checkbox>
    </div>
    <div class="field">
      <label for="nome">Nome</label>
      <input id="nome" type="text" pInputText formControlName="nome" />
    </div>
    <div class="field">
      <label for="descricao">Descrição</label>
      <input id="descricao" type="text" pInputText formControlName="descricao" />
    </div>
    <div class="button-container">
      <button pButton type="submit" label="Salvar"></button>
      <button pButton type="button" label="Cancelar" (click)="onCancel()" class="cancel-button"></button>
    </div>
  </form>
</div>
<p-toast></p-toast>
