<div class="container">
  <div class="header">
    <h2>Manutenção de Turmas</h2>
  </div>
  <div class="actions">
    <input type="text" pInputText placeholder="Filtrar por nome" [(ngModel)]="filter" (input)="filterAlunos()" />
    <div>
      <button pButton type="button" label="Gerar Relatório" (click)="gerarRelatorioPDF()"></button>
      <button pButton type="button" label="Nova Turma" (click)="newTurma()"></button>
    </div>
  </div>
  <p-table [value]="filteredTurmas" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" [sortField]="sortField" [sortOrder]="sortOrder" (sortFunction)="customSort($event)">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="ativo">Ativo <p-sortIcon field="ativo"></p-sortIcon></th>
        <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
        <th pSortableColumn="descricao">Descrição <p-sortIcon field="descricao"></p-sortIcon></th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-turma>
      <tr>
        <td>{{ turma.ativo ? 'Sim' : 'Não' }}</td>
        <td>{{ turma.nome }}</td>
        <td>{{ turma.descricao }}</td>
        <td>
          <button pButton type="button" icon="pi pi-eye" (click)="onView(turma.id)"></button>
          <button pButton type="button" icon="pi pi-pencil" (click)="onEdit(turma.id)"></button>
          <button pButton type="button" icon="pi pi-trash" (click)="onDelete(turma.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-toast></p-toast>
