<div class="container">
  <div class="actions">
    <input type="text" pInputText placeholder="Filtrar por nome" [(ngModel)]="filter" (input)="filterAlunos()" />
    <button pButton type="button" label="Novo Aluno" (click)="newAluno()"></button>
  </div>
  <p-table [value]="filteredAlunos">
    <ng-template pTemplate="header">
      <tr>
        <th>Ativo</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Email</th>
        <th>Data de Nascimento</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-aluno>
      <tr>
        <td>{{ aluno.ativo ? 'Sim' : 'Não' }}</td>
        <td>{{ aluno.nome }}</td>
        <td>{{ aluno.sobrenome }}</td>
        <td>{{ aluno.email }}</td>
        <td>{{ aluno.dataNascimento | date: 'dd/MM/yyyy' }}</td>
        <td>
          <button pButton type="button" icon="pi pi-eye" (click)="onView(aluno.id)"></button>
          <button pButton type="button" icon="pi pi-pencil" (click)="onEdit(aluno.id)"></button>
          <button pButton type="button" icon="pi pi-trash" (click)="onDelete(aluno.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-toast></p-toast>
