<div fxLayout="column" fxLayoutAlign="start center" class="container">
  <mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Pesquisar Alunos</mat-label>
        <input matInput [formControl]="searchControl">
      </mat-form-field>
      <button mat-icon-button color="primary" routerLink="/aluno-form">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <table mat-table [dataSource]="filteredAlunos" class="mat-elevation-z8">
      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let aluno"> {{aluno.nome}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let aluno">
          <button mat-icon-button color="warn" (click)="deleteAluno(aluno.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>
