<mat-toolbar color="primary">
  <span>Gestão Escolar</span>
  <span class="spacer"></span>
  <nav>
    <a mat-button routerLink="/alunos">Alunos</a>
    <a mat-button routerLink="/aluno-form">Adicionar Aluno</a>
    <a mat-button routerLink="/turmas">Turmas</a>
    <a mat-button routerLink="/turma-form">Adicionar Turma</a>
    <a mat-button routerLink="/turma-alunos">Turma-Alunos</a>
    <a mat-button routerLink="/turma-aluno-form">Adicionar Turma-Aluno</a>
  </nav>
</mat-toolbar>
<router-outlet></router-outlet>
