/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

